@import '../../styles/global.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navBar {
  height: 50px;
  transition: background-color 1000ms;
  background-color: white;
  display: flex;
  flex-direction: column;

  .navTopWrapper {
    position: relative;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    max-width: 1280px;
    margin: 0 auto;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    z-index: 1000;

    .navHeader {
      display: flex;
      font-size: 20px;

      a {
          font-size: 24px;
          font-family: 'Permanent Marker', cursive;
          text-decoration: none;
          transition: color 1000ms 50ms;
          color: black;
       }
    }

    .desktopNavLinks {
      display: none;
    }

    .toggleIcon {
      color: black;
      font-size: 24px;
      z-index: 100;

      &.active {
        color: white;
        font-size: 25px;
      }
    }
  }

  .navDropdown {
    .navLinks {
      position: absolute;
      display: flex;
      background: gray;
      width: 100%;
      overflow:hidden;
      height:0;
      -webkit-transition:height 300ms ease-in;
      -moz-transition:height 300ms ease-in;
      -o-transition:height 300ms ease-in;
      transition:height 300ms ease-in;

      &.active {
        height: 100%;
      }

      ul {
        list-style-type: none;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        z-index: 1000;

        li {
          text-align: center;
          margin: 15px auto;


          &:hover {

          }

          a {
            text-decoration: none;
            font-size: 30px;
            color: white;
            font-family: 'Permanent Marker', cursive;
          }
        }
      }
    }
  }

  &.active {
    background-color: gray;
    transition: none;

    .navTopWrapper {
      background: gray;
      opacity: 1;
      animation-name: fadeInOpacity;
      animation-timing-function: ease-in;
      animation-duration: 2s;

      .navHeader {
        a {
          transition: color 1000ms 50ms;
          color: white;
        }
      }
    }
  }
}

@include desktop {
  .navBar {
    .navTopWrapper {
      padding: 0;
    }
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
