.bannerContainer {
  display: flex;
  justify-content: center;
  background: lightslategray;

  .contentContainer {
    display: flex;
    text-align: center;
    color: white;

    .textContainer {
      .name {
        font-family: 'Permanent Marker', cursive;
        margin-top: 15px;
      }

      .occupation {
        margin-top: 10px;
      }

      .location {
        margin-top: 5px;
        margin-bottom: 20px;
      }
    }

    .imageContainer {
      display: flex;
    }
  }
}